.thecardss {
    padding-top: 4%;
}
.thecardss img{
    width: 100%;
}
.maincontainer {
    display: flex;
    /* position: absolute; */
    flex-direction: row;
    justify-content:start;
    align-items: center;
    gap: 30px;
    width: 75vw;
    height: 320px;
    background: none;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
  }
@media screen and (max-width: 768px) {
    .maincontainer{
        gap: 3%;
        height: 150px;
        display: flex;
        margin-bottom: 30%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .thecardss{
        width: 35%;
    }
    .bg{
        height: 25vh;
        padding-left: 10%;
    }
    .both{
        height: 180px;
    }
    .both h1{
        font-size: 24px;
    }
  }