body {
    background-color: white;
    /* overflow: hidden; */
    overflow-x: hidden;
    width: 100vw;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
}

.toggle-buttons {
    height: 20%;
    width: 77%;
    display: flex;
    padding-left: 10%;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.ind-btn {
    background-color: #ffbf0000;
    color: black;
    font-weight: 600;
    height: 38px;
    width: 115px;
    border: 1px solid black;
    border-radius: 5px;
}

.ind-btn.selected-1 {
    background-color: black;
    color: white;
}

.cards {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center; */
    /* background-color: #FDF5B8; */
    padding: 6%;
    gap: 2em;
    overflow: hidden;
    /* width: 94vw;
    height: 66vh; */
    width: 87em;
    height: 31em;
}

.cards {
    width: 65em;
    height: 37em;
    padding: 0%;
}

.lower {
    font-size: 1rem;
    font-weight: 600;
    color: #4192df;
    text-transform: capitalize;
    cursor: pointer;
}

.card-i {
    padding: 16px;
    height: 21%;
    width: 94% !important;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(159, 149, 149, 0.13), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex !important;
    flex-direction: column;
    justify-content: left;
    align-content: start;
    overflow: hidden;
    gap: 20px;
    overflow: hidden;
}

.image {
    width: 13vw !important;
    margin-left: -1em !important;
}

.btn {
    background-color: #ffbe00;
    color: black;
    padding: 0.7em;
    border-radius: 2px;
    border: 0;
    width: 100%;
}

.logo-s {
    display: inline !important;
    width: 12.071px;
    height: 12.998px;
    margin-left: 8px;
    margin-right: 6px;
}

.card-i span {
    margin-top: 0px;
    margin-bottom: 0px;
}

.headin {
    height: 20%;
    width: 87% !important;
}

@media (max-width: 600px) {
    .container {
        height: 75vh;
        width: 166vw;
    }

    .cards {
        width: 65em;
        height: 25em;
        padding: 0%;
    }

    .card-i {
        width: 90% !important;
        gap: 10px;
    }

    .headin h1 {
        font-size: 1.5rem !important;
        font-weight: 600 !important;
        color: #000 !important;
        margin-left: 10px !important;
    }

    .headin {
        height: 12% !important;
    width: 119% !important;
    }

    .slider-container {
        padding-top: 70px !important;
    }

    .lower {
        width: 64%;
    }

    .card p {
        font-size: 15px;
    }

    .toggle-buttons {
        height: 0%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        margin-top: 3em;
        margin-left: 5px;
    }

    .image {
        width: 30vw;
        margin-left: 2em;
    }

    .ind-btn {
        background-color: #ffbf0000;
        color: black;
        font-weight: 600;
        height: 33px;
        width: 104px;
        border: 1px solid black;
        border-radius: 3px;
        margin-left: 3px;
    }

    .selected-1 {
        font-size: 12px !important;
        padding: 0% !important;
    }
}
