.main-c{
    height: 59vh;
    width: 100%;
    /* background-color: #e03434; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.headin{
    /* background-color: rgb(140, 255, 0); */
    height: 20%;
    width: 77%;
    display: flex;
    padding-left: 10%;
    flex-direction: row;
    align-items: center;
}
.headin h1{
    font-size: 2.5rem;
    font-weight: 600;
    color: #000;
    margin-left: 10px;
}
.boxes{
    height: 70%;
    width: 80%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.box{
    height: 45%;
    width: 35%;
    /* background-color: #e03434; */
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media screen and (max-width: 768px) {
    .box{
        height: 71%;
        width: 46%;
    }
    .boxes {
        height: 30%;
        width: 82%;
    }
    
    
}
