.main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 150vh;
    width: 100vw;
    background-image: url("https://static1.hkrtcdn.com/mbnext/static/media/common/fir_se_zidkar.svg");
}
.txt{
    display: flex;
    align-items: start;
}

.vid-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 76vw;
   gap: 3em;
    /* background-color: #5c3838; */
}
.main-vid{
    height: 65%;
    width: 100%;
    /* background-color: #b42525 */
    border-radius: 5px;
    overflow: hidden;

}
.main-img{
   position:absolute ;
   height: 65vh;
   width: 80vw;
   z-index: 2;
}
.small-vid{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    height: 35%;
    width: 100%;
    /* background-color: #75c916 */
}
.vid{
    /* background-color: #c94016; */
    width: 32%;
    height: 120%;
    border-radius: 5px;
    overflow: hidden;
}
@media (max-width: 600px) {
.vid-container{
    height: 77vh;
  width: 76vw;
}
.main-container{
    height: 95vh;
}
.small-vid{
    height: 17%;
  width: 130%;
}
@media screen and (max-width: 768px) {
.main-container{
    height: 113vh;
  }
  .head h1 {
    font-size: 1.5rem;}
}}